{% extends 'base.html' %}
{% block Navbar1 %}

	 {% include "Base/Navbar1.html" %}

{% endblock %}
{% block content %}
<style>
	.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: orange;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
</style>
<div class="container-fluid" style="margin-top:89px;">
	<div class="row d-flex align-items-center justify-content-center">
		<form method="POST" enctype="multipart/form-data"> <!-- Without enctype files will not get uploaded , only strings will get uploaded-->
			{% csrf_token %}
			<h4>Rate this product</h4>
				<div class="rating">
				  <label>
					<input type="radio" name="stars" value="1" required/>
					<span class="icon">★</span>
				  </label>
				  <label>
					<input type="radio" name="stars" value="2" required/>
					<span class="icon">★</span>
					<span class="icon">★</span>
				  </label>
				  <label>
					<input type="radio" name="stars" value="3" required/>
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
				  </label>
				  <label>
					<input type="radio" name="stars" value="4" required/>
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
				  </label>
				  <label>
					<input type="radio" name="stars" value="5" required/>
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
				  </label>
				</div>
			<br>
			<h4>Write your review</h4>
			<textarea  name="review" id="review" style="height:200px;width:200px;"></textarea>
			<br>
			<h4>Add photos</h4>
			<input type="file" id="img" name="img[]" accept="image/*" multiple >
			<br>
			<br>
			<input type="submit">
		</form>
	</div>
</div>
<script>
	$(':radio').change(function() {
  console.log('New star rating: ' + this.value);
});
</script>
{% endblock %}