{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block Navbar1 %}
	{% include 'Base/Navbar1.html' %}
{% endblock %}
{% block content %}
<style>

	    input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			margin: 0;
		}
		.inputs{
		position:absolute;
		top:10px;
		border-radius:10px;
		font-size:13px;
		}
		.labels{
		 position:absolute;
		 top:0px;
		 left:20px;
		 z-index:1;
		}
		body{
		overflow-x:hidden;
		}

</style>
<body>
	<div class="container " style="margin-top:100px;">
		<h3 style="text-decoration:underline;">CHECKOUT</h3>
		<form method="post" >
		<div class="row d-flex justify-content-between" >
	              {% csrf_token %}
					<div class="col-md-5 col-11 mt-5 " style="position:relative;">
						<small  id="NameLabel"  class="bg-white text-primary font-weight-bold labels">Full Name</small>
						<input class="form-control w-100 inputs"  type="text"  name="Name" id="Name"><br>
					</div>
					<div class="col-md-5 col-11 mt-5 " style="position:relative;">
						<small  id="MobileLabel"  class="bg-white text-primary font-weight-bold labels">Enter your Mobile Number</small>
						<input class="form-control w-100 inputs"  type="number"  name="Mobile" id="Mobile"><br>
					</div>
					<div class="col-md-5 col-11 mt-5 " style="position:relative;">
						<small  id="ZipLabel"  class="bg-white text-primary font-weight-bold labels">Pin Code</small>
						<input class="form-control w-100 inputs" type="number"  name="Zip" id="Zip"><br>
					</div>
					<div class="col-md-5 col-11 mt-5 " style="position:relative;">
						<small  id="AddressLabel"  class="bg-white text-primary font-weight-bold labels">Address</small>
						<input class="w-100 form-control inputs"  type="text"  name="Address" id="Address"><br>
					</div>
					<div class="col-md-5 col-11 mt-5 " style="position:relative;">
						<small  id="LocalityLabel" class="bg-white text-primary font-weight-bold labels">Locality</small>
						<input class="w-100 form-control inputs"  type="text"  name="Locality" id="Locality"><br>
					</div>
					<div class="col-md-5 col-11 mt-5 " style="position:relative;">
						<small  id="DistrictLabel"  class="bg-white text-primary font-weight-bold labels">District</small>
						<input class="w-100 form-control inputs"  type="text"  name="District" id="District"><br>
					</div>
					<div class="col-md-5 col-11 mt-5 " style="position:relative;">
						<small  id="StateLabel"  class="bg-white text-primary font-weight-bold labels">State</small>
						<select  class="w-100 form-control inputs" name="State" id="State">
							<option selected disabled></option>
							<option class="form-control" value="Andaman and Nicobar">Andaman and Nicobar</option>
							<option class="form-control" value="Andhra Pradesh">Andhra Pradesh</option>
							<option class="form-control" value="Arunachal Pradesh">Arunachal Pradesh</option>
							<option class="form-control" value="Assam">Assam</option>
							<option class="form-control" value="Bihar">Bihar</option>
							<option class="form-control" value="Chhattisgarh">Chhattisgarh</option>
							<option class="form-control" value="Chandigarh">Chandigarh</option>
							<option class="form-control" value="Daman and Diu">Daman and Diu</option>
							<option class="form-control" value="Delhi">Delhi</option>
							<option class="form-control" value="Dadra & Nagar Haveli">Dadra & Nagar Haveli</option>
							<option class="form-control" value="Goa">Goa</option>
							<option class="form-control" value="Gujarat">Gujarat</option>
							<option class="form-control" value="Haryana">Haryana</option>
							<option class="form-control" value="Himachal Pradesh">Himachal Pradesh</option>
							<option class="form-control" value="Jharkhand">Jharkhand</option>
							<option class="form-control" value="Jammu & Kashmir">Jammu & Kashmir</option>
							<option class="form-control" value="Karnataka">Karnataka</option>
							<option class="form-control" value="Kerala">Kerala</option>
							<option class="form-control" value="Ladakh">Ladakh</option>
							<option class="form-control" value="Lakshadweep">Lakshadweep</option>
							<option class="form-control" value="Madhya Pradesh">Madhya Pradesh</option>
							<option class="form-control" value="Maharashtra">Maharashtra</option>
							<option class="form-control" value="Manipur">Manipur</option>
							<option class="form-control" value="Meghalaya">Meghalaya</option>
							<option class="form-control" value="Mizoram">Mizoram</option>
							<option class="form-control" value="Nagaland">Nagaland</option>
							<option class="form-control" value="Odisha">Odisha</option>
							<option class="form-control" value="Puducherry">Puducherry</option>
							<option class="form-control" value="Punjab">Punjab</option>
							<option class="form-control" value="Rajasthan">Rajasthan</option>
							<option class="form-control" value="Sikkim">Sikkim</option>
							<option class="form-control" value="Tamil Nadu">Tamil Nadu</option>
							<option class="form-control" value="Telangana">Telangana</option>
							<option class="form-control" value="Tripura">Tripura</option>
							<option class="form-control" value="Uttar Pradesh">Uttar Pradesh</option>
							<option class="form-control" value="Uttarakhand">Uttarakhand</option>
						</select>
						<br>
					</div>
					<div class="col-md-5 col-11 mt-5 " style="position:relative;">
						<small  id="LandmarkLabel"  class="bg-white text-primary font-weight-bold labels">Landmark</small>
						<input class="w-100 form-control inputs"  type="text"  name="Landmark" id="Landmark"><br>
					</div>

					<div class="col-md-5 col-11 mt-5 " style="position:relative;">
						<small  id="AlternateLabel"  class="bg-white text-primary font-weight-bold labels">Alternate Mobile Number</small>
						<input class="w-100 form-control inputs" type="number"  name="Alternate" id="Alternate">
						<br>
					</div>
					<div class="col-md-5 col-11 mt-5 " style="position:relative;">
						<small  id="EmailLabel"  class="bg-white text-primary font-weight-bold labels">Email</small>
						<input class="w-100 form-control inputs" type="email"  name="Email" id="Email">
					</div>
					<div class="col-12 pb-4" style="position:relative;margin-top:70px;">
						<button style="background-color:#f09e2b;height:40px;color:white;border-radius:10px;" class="form-control w-100">PLACE ORDER</button>
					</div>
	    </div>

		</form>
	</div>
</body>
<script>

</script>
{% endblock %}