{% extends 'base.html' %}
{% load static %}
{% block Navbar1 %}
    {% include "Base/Navbar1.html" %}
{% endblock %}

{% block content %}

<style>
      /* to put the corosel behind the navbar */
      .carousel{
        z-index-1;
        }
        body{
        background-color:#f5f7f5;}

      .txt{
        position: absolute;
        bottom:150px;
        left:260px;
        font-size: 30px;
      }
      .overwrite{
        position: relative;
      }
      .font{
        font-family: 'Henny Penny', cursive;
      }
      .height{
        height: 50vh;
      }



</style>
<body style="overflow-x:hidden;">
<div class="container-fluid mt-5 pt-5 pr-0 pl-0 d-md-block d-none">
<!-- carousel main -->
            <div id="carouselExampleControls" class="carousel slide  w-100" data-ride="carousel" style="z-index:1;">
              <div class="carousel-inner w-100">
                <div class="carousel-item active">
                    <a href="https://unitedmart.herokuapp.com/search/?q=sports+shoes&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="d-block" style="height:50vh;max-width:100%;min-width:100%;" src="{% static 'img/carousel/corosel.jpg' %}"  alt="First slide"></a>
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item">
                    <a href="https://unitedmart.herokuapp.com/search/?q=kurtis+women&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="d-block" style="height:50vh;max-width:100%;min-width:100%;" src="{% static 'img/carousel/corosel1.jpg' %}" alt="Second slide"></a>
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item">
                    <a href="https://unitedmart.herokuapp.com/search/?q=wrogn+shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="d-block" style="height:50vh;max-width:100%;min-width:100%;" src="{% static 'img/carousel/corosel3.jpg' %}" alt="Third slide"></a>
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
<!-- carousel main -->
</div>
<!-- Second Carousel -->
<div class="container-fluid mt-2 bg-white d-md-block d-none">
              <div class="row pl-3 pt-3 border">
                  <h4 class="font-weight-normal" style="color:#7d670e">DEALS OF THE DAY</h4>
                  <button class="btn-primary font-weight-normal" style="position:absolute;right:13px;font-size:15px;">VIEW ALL</button>
              </div>
                <!--Carousel Wrapper-->
              <div id="multi-item-example" class="carousel slide carousel-multi-item " data-ride="carousel">


                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <!--Controls-->
                <div class="controls-top d-flex justify-content-around">
                  <a id="pseudo-data-slide-left" data-slide="prev" href="#multi-item-example"><div style="height:70px;width:50px;background-color:#c3c9c5;position:absolute;left:0px;z-index:1;top:45%;" class="d-flex align-items-center" ><i class="fa fa-chevron-left pl-1" style="font-size:50px;color:black;"></i></div></a>
                  <a href="#multi-item-example" data-slide="next"><div style="height:70px;width:50px;background-color:#c3c9c5;position:absolute;right:0px;z-index:1;top:45%;" class="d-flex align-items-center"  id="pseudo-data-slide-right"><i class="fa fa-chevron-right pl-3" style="font-size:50px;color:black;" ></i></div></a>
                </div>
                <!--/.Controls-->
                  <!--First slide-->
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="card mb-2">
                         <a href="https://unitedmart.herokuapp.com/search/?q=jeans+roadster&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal1.jpg' %}"
                            alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=HRX+Puma&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal2.jpg' %}"
                            alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=shoes+puma+nike&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal3.jpg' %}"
                            alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>
                    <div class="col-md-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=skirt+dressberry+dress&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal4.jpg' %}"
                            alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!--/.First slide-->

                  <!--Second slide-->
                  <div class="carousel-item">

                    <div class="row">
                      <div class="col-md-3">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=watches+Tissot&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal5.jpg' %}"
                            alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=shoes+puma&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal3.jpg' %}"
                                  alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=HRX+puma+shoes&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal2.jpg' %}"
                                  alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=skirt+dressberry+dress&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal4.jpg' %}"
                                  alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                    </div>

                  </div>
                  <!--/.Second slide-->

                  <!--Third slide-->
                  <div class="carousel-item">

                    <div class="row">
                      <div class="col-md-3">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=shoes+puma+nike&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal3.jpg' %}"
                                  alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=skirt+dressberry+dress&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal4.jpg' %}"
                                  alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                         <a href="https://unitedmart.herokuapp.com/search/?q=watches+Tissot+Movado&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal5.jpg' %}"
                                 alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=Jeans+Roadster+Shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal1.jpg' %}"
                                  alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                    </div>

                  </div>
                  <!--/.Third slide-->

                </div>
                <!--/.Slides-->
                <!--Indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#multi-item-example" data-slide-to="0" class="active " ></li>
                  <li data-target="#multi-item-example" data-slide-to="1"></li>
                  <li data-target="#multi-item-example" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->

              </div>
              <!--/.Carousel Wrapper-->
    </div>
<!-- Second Carousel End -->
<!-- Third Section-->
<div class="container-fluid d-md-block d-none">
    <div class="row pl-3 pt-4 pb-2 ">
        <h4 class="font-weight-normal" style="color:#7d670e">EXPLORE TOP BRANDS</h4>
    </div>
     <div class="row wow fadeIn d-flex justify-content-center  ">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 col-xl-3 col-12 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Levis.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Jacket+Levis+Shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>

       <div class="col-lg-4 col-md-6 col-xl-3 col-12 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand1.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Dress+Kurti+Women&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>

       <div class="col-lg-4 col-md-6 col-xl-3 col-12 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand2.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Tshirt+Polo+shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-lg-4 col-md-6 col-xl-3 col-12 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand3.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=dress+dressberry+women&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>

       <div class="col-lg-4 col-md-6 col-xl-3 col-12 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand4.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Tshirt+Tommy+Hilfiger&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-lg-4 col-md-6 col-xl-3 col-12 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand5.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Nike+Shoes+tshirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>

       <div class="col-lg-4 col-md-6 col-xl-3 col-12 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand6.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Puma+shoes&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-lg-4 col-md-6 col-xl-3 col-12 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand7.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Gap+shoes+shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>

      <!--Grid column-->
     </div>
</div>
<!-- Third Section End-->
<!-- Fourth Section-->
<div class="container-fluid d-md-block d-none">
    <div class="row pl-3 pt-4 pb-2 ">
        <h4 class="font-weight-normal" style="color:#7d670e">TRENDING</h4>
    </div>
     <div class="row wow fadeIn d-flex justify-content-center ">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 col-xl-3 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending1.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=watches+headphone+Tissot&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-lg-4 col-md-6 col-xl-3 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending2.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=watches+headphone+Tissot&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-lg-4 col-md-6 col-xl-3 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending3.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=shoes+tshirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-lg-4 col-md-6 col-xl-3 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending4.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=flip+flop+shoes&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-lg-4 col-md-6 col-xl-3 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending5.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Under+Armour+Tshirt+women&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-lg-4 col-md-6 col-xl-3 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending6.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Joggers+Women+tshirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-lg-4 col-md-6 col-xl-3 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending7.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Tshirt+shorts&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-lg-4 col-md-6 col-xl-3 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending8.jpg' %}" class="card-img-top " height="400" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Ethnic+wear+shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>

      <!--Grid column-->
     </div>
</div>
<!-- Fourth Section End-->


<!-- Footer -->
<div class="container-fluid d-md-block d-none" style="margin-top:100px;background-color:#162691;">
  <div class="row pt-4 pb-5">
    <div class="col-md-3 col-12">
        <!-- Logo -->
          <img class="" src="{% static 'img/UnitedmartC.png' %}" height="85" width="150">
        <!-- Logo -->

          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Call us :- +91 9658901234</p>
          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Mail us :- unitedmart@gmail.com</p>
          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Registered Office Address : 123 Shantipuram Building ,</p>
          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Third Floor , New Delhi (226002)</p>

        <!-- Social Sites -->
          <a class="ml-1"><img src="{% static 'img/facebook-logo.svg' %}"></a>
          <a class="ml-1"><img src="{% static 'img/youtube-logo.svg' %}"></a>
          <a class="ml-1"><img src="{% static 'img/twitter-logo.svg' %}"></a>
          <a class="ml-1"><img src="{% static 'img/linkedin-logo.svg' %}"></a>
        <!-- Social Sites -->
    </div>
    <div class="col-md-3 col-12">
      <h5 class="text-white font-weight-bold">About</h5>
      <h6 style="color:#c0c3cf">Contact Us</h6>
      <h6 style="color:#c0c3cf">Careers</h6>
      <h6 style="color:#c0c3cf">About Us</h6>
    </div>
    <div class="col-md-3 col-12">
      <h5 class="text-white font-weight-bold">Help</h5>
      <h6 style="color:#c0c3cf">Payments</h6>
      <h6 style="color:#c0c3cf">Shipping</h6>
      <h6 style="color:#c0c3cf">Cancellation & Returns</h6>
      <h6 style="color:#c0c3cf">FAQ</h6>
      <h6 style="color:#c0c3cf">Report Infringement</h6>
    </div>
    <div class="col-md-3 col-12">
      <h5 class="text-white font-weight-bold">Policy</h5>
      <h6 style="color:#c0c3cf">Return Policy</h6>
      <h6 style="color:#c0c3cf">Terms of Use</h6>
      <h6 style="color:#c0c3cf">Security</h6>
      <h6 style="color:#c0c3cf">Privacy</h6>
      <h6 style="color:#c0c3cf">Terms of Service</h6>
    </div>



  </div>
</div>

<!-- Small Screen -->
<!-- Main Carousel -->
<div class="container-fluid mt-5 pt-5 pr-0 pl-0 d-md-none d-block">
<!-- carousel main -->
            <div id="carouselExampleControls-s" class="carousel slide  w-100" data-ride="carousel">
              <div class="carousel-inner w-100">
                <div class="carousel-item active">
                    <a href="https://unitedmart.herokuapp.com/search/?q=sports+shoes&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="d-block" style="height:35vh;max-width:100%;min-width:100%;" src="{% static 'img/carousel/corosel.jpg' %}"  alt="First slide"></a>
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item">
                    <a href="https://unitedmart.herokuapp.com/search/?q=kurtis+women&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="d-block" style="height:35vh;max-width:100%;min-width:100%;" src="{% static 'img/carousel/corosel1.jpg' %}" alt="Second slide"></a>
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item">
                    <a href="https://unitedmart.herokuapp.com/search/?q=wrogn+shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="d-block" style="height:35vh;max-width:100%;min-width:100%;" src="{% static 'img/carousel/corosel3.jpg' %}" alt="Third slide"></a>
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls-s" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls-s" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
<!-- carousel main End-->
</div>
<!-- Second Carousel -->
<div class="container-fluid mt-2 bg-white d-md-none d-block">
              <div class="row pl-3 pt-2 pb-2 border">
                  <h6 class="font-weight-normal" style="color:#7d670e">DEALS OF THE DAY</h6>
                  <button class="btn-primary font-weight-normal " style="position:absolute;right:13px;font-size:10px;">VIEW ALL</button>
              </div>
                <!--Carousel Wrapper-->
              <div id="multi-item-example-s" class="carousel slide carousel-multi-item " data-ride="carousel">


                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <!--Controls-->

                <!--/.Controls-->
                  <!--First slide-->
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-md-3 col-6">
                        <div class="card mb-2">
                         <a href="https://unitedmart.herokuapp.com/search/?q=jeans+roadster&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal1.jpg' %}"
                            alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 col-6 clearfix ">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=HRX+Puma&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal2.jpg' %}"
                            alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>


                      <div class="col-md-3 col-6 clearfix ">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=shoes+puma+nike&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal3.jpg' %}"
                            alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>
                    <div class="col-md-3 col-6 clearfix ">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=skirt+dressberry+dress&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal4.jpg' %}"
                            alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!--/.First slide-->




                  <!--Second slide-->
                  <div class="carousel-item">

                    <div class="row">
                      <div class="col-md-3 col-6">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=Jacket+Levis+Shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal5.jpg' %}"
                            alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix col-6">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=Dress+Kurti+Women&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal3.jpg' %}"
                                  alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix col-6">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=Tshirt+Polo+shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal2.jpg' %}"
                                  alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix col-6">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=dress+dressberry+women&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal4.jpg' %}"
                                  alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                    </div>

                  </div>
                  <!--/.Second slide-->




                  <!--Third slide-->
                  <div class="carousel-item">

                    <div class="row">
                      <div class="col-md-3 col-6">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=shoes+puma+nike&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal3.jpg' %}"
                                  alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix col-6">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=skirt+dressberry+dress&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal4.jpg' %}"
                                  alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix col-6">
                        <div class="card mb-2">
                         <a href="https://unitedmart.herokuapp.com/search/?q=watches+Tissot+Movado&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal5.jpg' %}"
                                 alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                      <div class="col-md-3 clearfix col-6">
                        <div class="card mb-2">
                          <a href="https://unitedmart.herokuapp.com/search/?q=Jeans+Roadster+Shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel"><img class="card-img-top" src="{% static 'img/Deal1.jpg' %}"
                                  alt="Card image cap" style="max-height:430px;"></a>
                        </div>
                      </div>

                    </div>

                  </div>
                  <!--/.Third slide-->

                </div>
                <!--/.Slides-->
                <!--Indicators-->
                <ol class="carousel-indicators bg-light" style="z-index:1;">
                  <li data-target="#multi-item-example" data-slide-to="0" class="active" ></li>
                  <li data-target="#multi-item-example" data-slide-to="1"></li>
                  <li data-target="#multi-item-example" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->

              </div>
              <!--/.Carousel Wrapper-->
    </div>
<!-- Second Carousel End -->
<!-- Third Section-->
<div class="container-fluid d-md-none d-block">
    <div class="row pl-3 pt-4 pb-2 ">
        <h6 class="font-weight-normal" style="color:#7d670e">EXPLORE TOP BRANDS</h6>
    </div>

     <div class="row wow fadeIn d-flex justify-content-center  ">
        <!--Grid column-->
        <div class=" col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Levis.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Jacket+Levis+Shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand1.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Dress+Kurti+Women&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand2.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Tshirt+Polo+shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand3.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=dress+dressberry+women&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand4.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Tshirt+Tommy+Hilfiger&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand5.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Nike+Shoes+tshirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand6.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Puma+shoes&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Brand7.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Gap+shoes+shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>

      <!--Grid column-->
     </div>
</div>
<!-- Third Section End-->
<!-- Fourth Section-->
<div class="container-fluid d-md-none d-block">
    <div class="row pl-3 pt-4 pb-2 ">
        <h6 class="font-weight-normal" style="color:#7d670e">TRENDING</h6>
    </div>
     <div class="row wow fadeIn d-flex justify-content-center ">
        <!--Grid column-->
        <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending1.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=watches+headphone+Tissot&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending2.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=watches+headphone+Tissot&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending3.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=shoes+tshirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending4.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=flip+flop+shoes&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending5.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Under+Armour+Tshirt+women&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending6.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Joggers+Women+tshirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending7.jpg' %}" class="card-img-top " height="200" >
              <a href="https://unitedmart.herokuapp.com/search/?q=Tshirt+shorts&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>
       <div class="col-6 d-flex align-items-stretch justify-content-center mt-1">
          <!--Card-->
          <div class="card" >
            <!--Card image-->
            <div class="view overlay ">
              <img src="{% static 'img/carousel/Trending8.jpg' %}" class="card-img-top " height="200" >
              <a href=" https://unitedmart.herokuapp.com/search/?q=Ethnic+wear+shirt&next%5B0%5D=%2Fsearch%2F&next%5B1%5D=rel">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
          </div>
        <!--Card-->
       </div>

      <!--Grid column-->
     </div>
</div>
<!-- Fourth Section End-->
<!-- Footer -->
<div class="container-fluid d-md-none d-block" style="margin-top:100px;background-color:#162691;">
  <div class="row pt-4 pb-5">
    <div class="col-6">
        <!-- Logo -->
          <img class="" src="{% static 'img/UnitedmartC.png' %}" height="85" width="150">
        <!-- Logo -->

          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Call us :- +91 9658901234</p>
          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Mail us :- unitedmart@gmail.com</p>
          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Registered Office Address : 123 Shantipuram Building ,</p>
          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Third Floor , New Delhi (226002)</p>

        <!-- Social Sites -->
          <a class="ml-1"><img src="{% static 'img/facebook-logo.svg' %}"></a>
          <a class="ml-1"><img src="{% static 'img/youtube-logo.svg' %}"></a>
          <a class="ml-1"><img src="{% static 'img/twitter-logo.svg' %}"></a>
          <a class="ml-1"><img src="{% static 'img/linkedin-logo.svg' %}"></a>
        <!-- Social Sites -->
    </div>
    <div class="col-6 mt-4">
      <h5 class="text-white font-weight-bold">About</h5>
      <h6 style="color:#c0c3cf">Contact Us</h6>
      <h6 style="color:#c0c3cf">Careers</h6>
      <h6 style="color:#c0c3cf">About Us</h6>
    </div>
    <div class="col-6 mt-4">
      <h5 class="text-white font-weight-bold">Help</h5>
      <h6 style="color:#c0c3cf">Payments</h6>
      <h6 style="color:#c0c3cf">Shipping</h6>
      <h6 style="color:#c0c3cf">Cancellation & Returns</h6>
      <h6 style="color:#c0c3cf">FAQ</h6>
      <h6 style="color:#c0c3cf">Report Infringement</h6>
    </div>
    <div class="col-6">
      <h5 class="text-white font-weight-bold">Policy</h5>
      <h6 style="color:#c0c3cf">Return Policy</h6>
      <h6 style="color:#c0c3cf">Terms of Use</h6>
      <h6 style="color:#c0c3cf">Security</h6>
      <h6 style="color:#c0c3cf">Privacy</h6>
      <h6 style="color:#c0c3cf">Terms of Service</h6>
    </div>



  </div>
</div>

</body>

{% endblock %}