{% extends 'base.html' %}
{% load static %}
{% block Navbar1 %}
    {% include "Base/Navbar1.html" %}
{% endblock %}
{% block content %}
<style>
	.cartDelete{
		color:black;
		}
	.cartDelete:hover{
			color:red;
			text-decoration:underline;
			}
</style>
<body class="bg-light">
<div class="container bg-white d-none d-md-block" style="margin-top:100px;">
	 <div  id="MyAlert" class="bg-success text-white d-flex justify-content-center align-items-center font-weight-bold"  style="position:fixed;top:89px;z-index:2;width:100%;opacity:0.9;background-color:#a31818;">
                  <h6 class="pt-1 pb-1 font-weight-normal" id="Message"></h6>
		  <a  style="position:absolute;right:50px;font-size:14px;font-weight:bold;" id="Close">x</a>
 	</div>
    <div class="row ml-4 pt-3" >
        <h6 style="text-decoration:underline;font-weight:bold;color:#785730;">WISHLIST</h6>
    </div>
	<hr class="mt-0">
    {% for items in Wishlist.items.all %}
          <div class="row mt-3"  id="Wish{{forloop.counter}}">
            <!-- Image column -->
					<div class="col-3 p-4 ">
						<!-- Image of the product -->
						<div class="row  d-flex justify-content-center">
							<a href="{{items.get_abs_url}}">
								<img src="{{items.image.url}}" height="160px" width="160px">
							</a>
						</div>
						<!-- Image of the product -->
					</div>
          <!-- Image column -->
           <!-- Product details column -->
					<div class="col pl-3 pt-4 pb-4">
						<div class="row ">
							<a href="{{items.get_abs_url}}">
								<h6 class="itemName text-dark">{{items.Name}}</h6>
							</a>
						</div>
                        <div class="row">
                                <small style="color:grey">Brand : {{items.Brand}}</small>

                        </div>
						<div class="row">
                                <small class="text-success">Special Price</small>
                        </div>
						<div class="row">
                                <h6 class="text-dark font-weight-bold">₹ {{items.discount_price}}</h6>
								<h6 class="ml-2 text-muted" style="text-decoration:line-through;">₹ {{items.price}}</h6>
                        </div>
						<div class="row d-flex justify-content-start align-items-center pt-3">
								<h6 class="cartDelete"><a id="Delete{{forloop.counter}}"  class="font-weight-normal  " >Delete</a></h6>
								<h6 class="cartDelete"><a id="AddToCart{{forloop.counter}}"  class="pl-3 font-weight-normal "  >Add to cart</a></h6>
						</div>
					</div>
          <!-- Product details column -->
          </div>
          <hr id="{{forloop.counter}}">
	      {% empty %}
			<div class="row" style="position:relative;" >
						<img src="{% static 'img/Wishlist.png' %}" style="height:75vh;width:100%;">
						<h5 style="position:absolute;top:15%;left:25%;font-weight:bold;color:#594f35;font-size:40px;font-family:Monospace;" >Your Wishlist is Empty</h5>
			</div>
          {% endfor %}
</div>
<!-- Small Screen Wishlist -->
<div class="container bg-white d-block d-md-none" style="margin-top:100px;">
	 <div  id="MyAlert_sm" class="bg-success row text-white d-flex justify-content-center align-items-center font-weight-bold"  style="left:15px;right:0;position:fixed;top:85px;z-index:2;width:100%;opacity:0.9;background-color:#a31818;">
                  <h6 class="pt-1 pb-1 font-weight-normal" id="Message_sm" style="font-size:14px;"></h6>
		           <a style="font-size:18px;font-weight:bold;" class="ml-3 mb-2" id="Close_sm">x</a>
 	</div>
    <div class="row ml-4 pt-3" >
        <h6 style="text-decoration:underline;font-weight:bold;color:#785730;">WISHLIST</h6>
    </div>
    {% for items in Wishlist.items.all %}
		<div class="row border" id="Wish_sm{{forloop.counter}}">
			<!-- Image column -->
			<div class="col-12 pt-2 pb-2">
				<!-- Image of the product -->
				<div class="row  d-flex ">
					<div class="col-3">
						<a href="{{order_item.items.get_abs_url}}">
							<img src="{{items.image.url}}" height="80px" width="80px">
						</a>
					</div>
				</div>
				<!-- Image of the product -->
			</div>
			<!-- Image column -->
			<!-- Product details column -->
			<div class="col-12  pl-3 pb-4">
				<div class="row pl-2">
					<a href="{{order_item.items.get_abs_url}}">
						<small class="text-dark">{{items.Name}}</small>
					</a>
				</div>
				<div class="row pt-1 pl-2">
					<small class="text-muted">{{items.Brand}}</small>
				</div>

					<div class="row d-flex align-items-center pt-1 pl-2">
							<h6 class="font-weight-normal text-danger">₹{{items.discount_price}}</h6> <h6 style="text-decoration:line-through;"><span class="discount text-muted pl-2">₹{{items.price}}</span> </h6>
					</div>

					<div class="row d-flex justify-content-start align-items-center pt-3 pl-2">
						<h6 class="cartDelete"><a id="Delete_sm{{forloop.counter}}"  class="font-weight-normal  " >Delete</a></h6>
						<h6 class="cartDelete"><a id="AddToCart_sm{{forloop.counter}}"  class="pl-3 font-weight-normal "  >Add to cart</a></h6>
					</div>
			</div>
			<!-- Product details column -->
		</div>
	      {% empty %}
			<div class="row" style="position:relative;" >
						<img src="{% static 'img/Wishlist.png' %}" style="height:50vh;width:100%;">
						<h5 style="position:absolute;top:15%;left:15%;font-weight:bold;color:#594f35;font-size:20px;font-family:Monospace;" >Your Wishlist is Empty</h5>
			</div>
          {% endfor %}
</div>
</body>
<script>
	$('#MyAlert').hide();
	$('#Message').hide();
	{% for items in Wishlist.items.all %}
	// Delete the items from Wishlist
	 $('#Delete{{forloop.counter}}').on('click',function(){
	 console.log('h');
	$.ajax({
		 method: "GET",
				  url: "{% url 'Base:remove-from-wishlist' items.slug %}",
				  data: {},
				  success: function(data) {

				  }
		})
		$('#Wish{{forloop.counter}}').hide();
	})
	// Add item to cart
	 $('#AddToCart{{forloop.counter}}').on('click',function(){
	$.ajax({
		 method: "GET",
				  url: "{% url 'Base:add-to-cart' items.slug %}",
				  data: {},
				  success: function(data) {

				  }
		})
		 document.getElementById('Message').innerHTML = "This item has been added to your cart";
	$('#MyAlert').show();
	$('#Message').show();
	})

	{% endfor %}
	$('#Close').on('click',function(){
	 $('#MyAlert').hide();
	$('#Message').hide();
	});

	// Small Wishlist
	$('#MyAlert_sm').hide();
	$('#Message_sm').hide();
	$('#Close_sm').hide();
	{% for items in Wishlist.items.all %}

	 $('#AddToCart_sm{{forloop.counter}}').on('click',function(){
	$.ajax({
              method: "GET",
              url: "{% url 'Base:add-to-cart'  items.slug %}",
              data: {},
              success: function(data) {
              document.getElementById('CartCount').innerHTML = data;
              document.getElementById('CartCount_sm').innerHTML = data;
              }
        })
    document.getElementById('Message_sm').innerHTML = "This item has been added to your cart";
	$('#MyAlert_sm').show();
	$('#Message_sm').show();
	$('#Close_sm').show();
	})

	 $('#Delete_sm{{forloop.counter}}').on('click',function(){
	 console.log('h');
	$.ajax({
		 method: "GET",
				  url: "{% url 'Base:remove-from-wishlist' items.slug %}",
				  data: {},
				  success: function(data) {

				  }
		})
		$('#Wish_sm{{forloop.counter}}').hide();
	})
	{% endfor %}

	$('#Close_sm').on('click',function(){
	 $('#MyAlert_sm').hide();
	$('#Message_sm').hide();
	$('#Close_sm').hide();
	});
</script>
{% endblock %}