/* CSS FOR FILTERS */
    #hidden-items-brand{
        display:None;
    }
    #hidden-items-color{
        display:None;
    }
    #hidden-items-fit{
        display:None;
    }
    #hidden-items-pattern{
        display:None;
    }
    #hidden-items-neck_type{
        display:None;
    }
    #hidden-items-sleeve_type{
        display:None;
    }
    #hidden-items-theme{
        display:None;
    }
    #hidden-items-fabric{
        display:None;
    }
    #hidden-items-occasion{
        display:None;
    }
    #hidden-items-collar{
        display:None;
    }
    #hidden-items-type{
        display:None;
    }
     #hidden-items-distress{
        display:None;
    }
     #hidden-items-fade{
        display:None;
    }
    #hidden-items-waist_rise{
        display:None;
    }
    #hidden-items-heel_height{
        display:None;
    }
    #hidden-items-length{
        display:None;
    }
     #hidden-items-closure{
        display:None;
    }
     #hidden-items-Sleeve_style{
        display:None;
    }
    #hidden-items-usage{
        display:None;
    }
    #hidden-items-Hooded{
        display:None;
    }
    #hidden-items-Ornamentation{
        display:None;
    }
    #hidden-items-Styling{
        display:None;
    }
    #hidden-items-Suitable_for{
        display:None;
    }
    #hidden-items-Applied_for{
        display:None;
    }
    #hidden-items-Hair_type{
        display:None;
    }
    #hidden-items-Pack_of{
        display:None;
    }
    #hidden-items-Washable{
        display:None;
    }
    #hidden-items-Water_resistance{
        display:None;
    }
    #hidden-items-Rise{
        display:None;
    }
    #hidden-items-Straps{
        display:None;
    }
    #hidden-items-Wire_support{
        display:None;
    }
    #hidden-items-Padding{
        display:None;
    }
    #hidden-items-Seam{
        display:None;
    }
    #hidden-items-Coverage{
        display:None;
    }
    #hidden-items-Back_style{
        display:None;
    }
    #hidden-items-Dial_color{
        display:None;
    }
    #hidden-items-Features{
        display:None;
    }
    #hidden-items-Dial_shape{
        display:None;
    }
    #hidden-items-Strap_material{
        display:None;
    }
    #hidden-items-Number_of_compartments{
        display:None;
    }
    #hidden-items-Material{
        display:None;
    }
    #hidden-items-Bag_size{
        display:None;
    }
    #hidden-items-wheels{
        display:None;
    }
    #hidden-items-body_type{
        display:None;
    }
    #hidden-items-capacity{
        display:None;
    }
    #hidden-items-card_slot{
        display:None;
    }
    #hidden-items-Strap_color{
        display:None;
    }
    #hidden-items-Compatible_OS{
        display:None;
    }
    #hidden-items-Display_type{
        display:None;
    }
    #hidden-items-Gemstones{
        display:None;
    }
    #hidden-items-Gender{
        display:None;
    }
    #hidden-items-Blade_material{
        display:None;
    }
    #hidden-items-Battery_run_time{
        display:None;
    }
    #hidden-items-Body_material{
        display:None;
    }
    #hidden-items-Plate_coating{
        display:None;
    }
    #hidden-items-Wattage{
        display:None;
    }
    #hidden-items-Collection{
        display:None;
    }
    #hidden-items-Ring_size{
        display:None;
    }
    #hidden-items-Dress_length{
        display:None;
    }
    #hidden-items-Length_type{
        display:None;
    }
    #hidden-items-Saree_type{
        display:None;
    }
    #hidden-items-Saree_style{
        display:None;
    }
    #hidden-items-Saree_length{
        display:None;
    }
    #hidden-items-Blouse_included{
        display:None;
    }
    #hidden-items-Saree_Fall_length{
        display:None;
    }
    #hidden-items-Saree_Fall_width{
        display:None;
    }
    #hidden-items-Dupatta_included{
        display:None;
    }
    #hidden-items-Rechargeable{
        display:None;
    }
    #hidden-items-Battery_operated{
        display:None;
    }
    #hidden-items-Character{
        display:None;
    }
    #hidden-items-Thermoware{
        display:None;
    }
    #hidden-items-Age_group{
        display:None;
    }
    #hidden-items-Pot_included{
        display:None;
    }
    #hidden-items-Bonsai{
        display:None;
    }
    #hidden-items-Outer_material{
        display:None;
    }
    #hidden-items-Towel_type{
        display:None;
    }
    #hidden-items-Reversible{
        display:None;
    }
    #hidden-items-width{
        display:None;
    }
    #hidden-items-Shape{
        display:None;
    }
    #hidden-items-Microwave_safe{
        display:None;
    }
    #hidden-items-Showpiece_type{
        display:None;
    }
    #hidden-items-No_of_prongs{
        display:None;
    }
    #hidden-items-Fragrance{
        display:None;
    }
    #hidden-items-Quantity{
        display:None;
    }
    #hidden-items-Form{
        display:None;
    }
    #hidden-items-Light_used{
        display:None;
    }
    #hidden-items-adjustable{
        display:None;
    }
    #hidden-items-Mount_type{
        display:None;
    }
    #hidden-items-Bulb_included{
        display:None;
    }
    #hidden-items-Dimmable{
        display:None;
    }
    #hidden-items-Foldable{
        display:None;
    }
    #hidden-items-Adjustable_height{
        display:None;
    }
    #hidden-items-Mouse_tray{
        display:None;
    }
    #hidden-items-Height{
        display:None;
    }
    #hidden-items-Storage_included{
        display:None;
    }
    #hidden-items-Separated{
        display:None;
    }
    #hidden-items-Weight{
        display:None;
    }
    #hidden-items-Heart_rate_sensor{
        display:None;
    }
    #hidden-items-Design{
        display:None;
    }
    #hidden-items-Diameter{
        display:None;
    }
    #hidden-items-Contains_pump{
        display:None;
    }
    #hidden-items-Thickness{
        display:None;
    }
     #hidden-items-Grip{
        display:None;
    }
    #hidden-items-Playing_level{
        display:None;
    }
    #hidden-items-Strung_type{
        display:None;
    }
    #hidden-items-Cover_type{
        display:None;
    }
    #hidden-items-Grip_size{
        display:None;
    }
    #hidden-items-Head_size{
        display:None;
    }
    #hidden-items-Speed{
        display:None;
    }
    #hidden-items-Willow_type{
        display:None;
    }
     #hidden-items-Bat_grade{
        display:None;
    }
    #hidden-items-Cover{
        display:None;
    }
    #hidden-items-Visor{
        display:None;
    }
    #hidden-items-Bails_included{
        display:None;
    }
    #hidden-items-Fill_type{
        display:None;
    }
    #hidden-items-Tyre_size{
        display:None;
    }
    #hidden-items-Gear_type{
        display:None;
    }
    #hidden-items-Rear_brake{
        display:None;
    }
     #hidden-items-Front_brake{
        display:None;
    }
    #hidden-items-Playback_mode{
        display:None;
    }
    #hidden-items-Accessory_holder{
        display:None;
    }
    #hidden-items-Rod_power{
        display:None;
    }
    #hidden-items-Rod_type{
        display:None;
    }
    #hidden-items-Rod_action{
        display:None;
    }
    #hidden-items-Handle_material{
        display:None;
    }
    #hidden-items-Construction{
        display:None;
    }
     #hidden-items-Drag_type{
        display:None;
    }
    #hidden-items-Container_type{
        display:None;
    }
    #hidden-items-Edge_type{
        display:None;
    }
    #hidden-items-Sheath{
        display:None;
    }
    #hidden-items-Coated{
        display:None;
    }
    #hidden-items-Finish{
        display:None;
    }
    #hidden-items-Attachment_type{
        display:None;
    }
    #hidden-items-Auto_locking{
        display:None;
    }
     #hidden-items-Tray_included{
        display:None;
    }
    #hidden-items-Magnetic{
        display:None;
    }
    #hidden-items-Diary_type{
        display:None;
    }
    #hidden-items-Steam_burst{
        display:None;
    }
    #hidden-items-Spray{
        display:None;
    }
    #hidden-items-Power_consumption{
        display:None;
    }
    #hidden-items-Rated_pressure{
        display:None;
    }
    #hidden-items-Star_rating{
        display:None;
    }
    #hidden-items-Filter_type{
        display:None;
    }
    #hidden-items-Auto_revolving_heater{
        display:None;
    }
    #hidden-items-Number_of_stitches{
        display:None;
    }
    #hidden-items-Number_of_blades{
        display:None;
    }
    #hidden-items-Load_type{
        display:None;
    }
    #hidden-items-Number_of_ways{
        display:None;
    }
    #hidden-items-Wired_or_wireless{
        display:None;
    }
    #hidden-items-Energy_ratings{
        display:None;
    }
    #hidden-items-Condenser_coil{
        display:None;
    }
    #hidden-items-Ideal_for{
        display:None;
    }
    #hidden-items-Technology{
        display:None;
    }
    #hidden-items-Defrosting_type{
        display:None;
    }
    #hidden-items-Year{
        display:None;
    }
    #hidden-items-Star{
        display:None;
    }
    #hidden-items-Bee_rating{
        display:None;
    }
    #hidden-items-Washing_system{
        display:None;
    }
    #hidden-items-Power{
        display:None;
    }
    #hidden-items-Control{
        display:None;
    }
    #hidden-items-Ductless{
        display:None;
    }
    #hidden-items-Auto_clean{
        display:None;
    }
    #hidden-items-Cups{
        display:None;
    }
    #hidden-items-Number_of_eggs{
        display:None;
    }
    #hidden-items-Number_of_slices{
        display:None;
    }
    #hidden-items-Screen_size{
        display:None;
    }
    #hidden-items-Operating_system{
        display:None;
    }
    #hidden-items-Hard_disk_capacity{
        display:None;
    }
    #hidden-items-Storage_type{
        display:None;
    }
    #hidden-items-Processor{
        display:None;
    }
    #hidden-items-Processor_brand{
        display:None;
    }
    #hidden-items-Processor_gen{
        display:None;
    }
    #hidden-items-RAM_type{
        display:None;
    }
    #hidden-items-RAM{
        display:None;
    }
    #hidden-items-Graphics{
        display:None;
    }
    #hidden-items-Graphics_name{
        display:None;
    }
    #hidden-items-Graphics_processor_series{
        display:None;
    }
    #hidden-items-Graphics_memory_type{
        display:None;
    }
    #hidden-items-Touch_screen{
        display:None;
    }
    #hidden-items-Interface{
        display:None;
    }
    #hidden-items-Water_proof{
        display:None;
    }
    #hidden-items-Operation_type{
        display:None;
    }
    #hidden-items-Number_of_cells{
        display:None;
    }
    #hidden-items-Compatible_laptop_size{
        display:None;
    }
    #hidden-items-Ergonomic{
        display:None;
    }
    #hidden-items-Illuminated_keys{
        display:None;
    }
    #hidden-items-Shock_resistance{
        display:None;
    }
    #hidden-items-Wireless_speed{
        display:None;
    }
    #hidden-items-Number_of_Ethernet_ports{
        display:None;
    }
    #hidden-items-Transfer_speed{
        display:None;
    }
    #hidden-items-Voice_support{
        display:None;
    }
    #hidden-items-Memory_capacity{
        display:None;
    }
    #hidden-items-Max_wireless_transmission_rate{
        display:None;
    }
    #hidden-items-Frequency_band{
        display:None;
    }
    #hidden-items-Compatibility{
        display:None;
    }
    #hidden-items-Frequency{
        display:None;
    }
    #hidden-items-Number_of_USB_ports{
        display:None;
    }
    #hidden-items-Antennae{
        display:None;
    }
    #hidden-items-GST_invoice{
        display:None;
    }
    #hidden-items-Offers{
        display:None;
    }
    #hidden-items-Printer_type{
        display:None;
    }
    #hidden-items-Scanner_type{
        display:None;
    }
    #hidden-items-Printer_output{
        display:None;
    }
    #hidden-items-Refilling_type{
        display:None;
    }
    #hidden-items-Function{
        display:None;
    }
    #hidden-items-Portable{
        display:None;
    }
    #hidden-items-Device_chipset{
        display:None;
    }
    #hidden-items-Lamp_life{
        display:None;
    }
    #hidden-items-Brightness{
        display:None;
    }
    #hidden-items-Edition{
        display:None;
    }
    #hidden-items-Architecture{
        display:None;
    }
    #hidden-items-Board{
        display:None;
    }
    #hidden-items-Class{
        display:None;
    }
    #hidden-items-Subject{
        display:None;
    }
    #hidden-items-Validity{
        display:None;
    }
    #hidden-items-Screen_resolution{
        display:None;
    }
    #hidden-items-Screen_form_factor{
        display:None;
    }
    #hidden-items-Inbuilt_speaker{
        display:None;
    }
    #hidden-items-Panel_type{
        display:None;
    }
    #hidden-items-Connectivity{
        display:None;
    }
    #hidden-items-Response_time{
        display:None;
    }
    #hidden-items-Fan_diameter{
        display:None;
    }
    #hidden-items-Max_fan_speed{
        display:None;
    }
    #hidden-items-Number_of_satacables{
        display:None;
    }
    #hidden-items-Power_output{
        display:None;
    }
    #hidden-items-Number_of_cores{
        display:None;
    }
    #hidden-items-Processor_speed{
        display:None;
    }
    #hidden-items-Data_rate{
        display:None;
    }
    #hidden-items-Device{
        display:None;
    }
    #hidden-items-Chipset{
        display:None;
    }
    #hidden-items-Clock_speed{
        display:None;
    }
    #hidden-items-Number_of_HDMI_ports{
        display:None;
    }
    #hidden-items-Configuration{
        display:None;
    }
    #hidden-items-Smart_tv{
        display:None;
    }
    #hidden-items-Screen_type{
        display:None;
    }
    #hidden-items-Curve_tv{
        display:None;
    }
    #hidden-items-Internal_storage{
        display:None;
    }
    #hidden-items-Battery_capacity{
        display:None;
    }
    #hidden-items-Network_type{
        display:None;
    }
    #hidden-items-SIM_type{
        display:None;
    }
    #hidden-items-Primary_camera{
        display:None;
    }
    #hidden-items-Secondary_camera{
        display:None;
    }
    #hidden-items-Operating_system_name{
        display:None;
    }
    #hidden-items-Speciality{
        display:None;
    }
    #hidden-items-Voice_calling{
        display:None;
    }
    #hidden-items-Battery_type{
        display:None;
    }
    #hidden-items-Syncing_method{
        display:None;
    }
    #hidden-items-Wireless_standard{
        display:None;
    }
    #hidden-items-Indicator{
        display:None;
    }
    #hidden-items-Compatible_mobile{
        display:None;
    }
    #hidden-items-Extension{
        display:None;
    }
    #hidden-items-Movement{
        display:None;
    }
    #hidden-items-Fixture_type{
        display:None;
    }
    #hidden-items-Installation_type{
        display:None;
    }
    #hidden-items-Sweep_diameter{
        display:None;
    }
    #hidden-items-Phase{
        display:None;
    }
    #hidden-items-Number_of_poles{
        display:None;
    }
    #hidden-items-Flammable{
        display:None;
    }
    #hidden-items-Sensor_type{
        display:None;
    }
    #hidden-items-Effective_pixels{
        display:None;
    }
    #hidden-items-Maximum_load_capacity{
        display:None;
    }
    #hidden-items-Prime_Zoom{
        display:None;
    }
    #hidden-items-Focal_length{
        display:None;
    }
    #hidden-items-Lens_type{
        display:None;
    }
    #hidden-items-Max_aperture{
        display:None;
    }
    #hidden-items-Lens_mount{
        display:None;
    }
    #hidden-items-Max_magnification{
        display:None;
    }
    #hidden-items-Mount_tracking{
        display:None;
    }
    #hidden-items-Placement_type{
        display:None;
    }
    #hidden-items-Male_thread_diameter{
        display:None;
    }
    #hidden-items-Female_thread_diameter{
        display:None;
    }
    #hidden-items-Vehicle_brand{
        display:None;
    }
    #hidden-items-Vehicle_model{
        display:None;
    }
    #hidden-items-Number_of_indicator_lamps{
        display:None;
    }
    #hidden-items-Tachometer{
        display:None;
    }
    #hidden-items-Armours{
        display:None;
    }
    #hidden-items-Platform{
        display:None;
    }
    #hidden-items-PEGI_rating{
        display:None;
    }
    #hidden-items-Game_modes{
        display:None;
    }
    #hidden-items-ESRB_rating{
        display:None;
    }
    #hidden-items-Temple_material{
        display:None;
    }
    #hidden-items-Lens_type_supported{
        display:None;
    }
    #hidden-items-Temple_color{
        display:None;
    }
/* CSS FOR FILTERS */
/* MARKETPLACE HIDE DEFAULT */
     #Marketplace_section{
        display:None;
    }
/* MARKETPLACE HIDE DEFAULT */