<!--
  Pending:
  1.Seller must be able to add or decrease the stock of items.
  2. Arrange the products in a hierarchical model.

-->

{% extends 'base.html' %}
{% load static %}
{% block Navbar1 %}
    {% include "Base/Navbar1.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
  <div class="row ">

    {% for item in products %}
    <!--Grid column-->

        <div class="col-lg-2 col-md-2  col-xl-2 col-sm-12 d-flex  align-items-stretch pr-0 pl-1 pb-1">

          <!--Card-->
          <div class="card" >

            <!--Card image-->
            <div class="view overlay">
              <img src="{{ item.image_url }}" class="card-img-top " height="100" >
              <a href="{{item.get_abs_url}}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center"  >
              <!--Category & Title-->
              <a href="" class="grey-text">
                <h6></h6> <!-- Getting the category and displaying it -->
              </a>
              <h6>
                <strong>
                  <a href="{{item.get_abs_url}}" class="dark-grey-text">{{ item.Name }}  <!-- Here we have used reverse and passes the url of product -->
                    <span class="badge -color">NEW</span> <!-- Used for fetching data from label-->
                  </a>
                </strong>
              </h6>

              <h6 class="font-weight-bold blue-text">
                <strong>
                  {% if item.discount_price %}
                  ₹{{ item.discount_price }}
                  {% else %}
                  ₹{{ item.price }}
                  {% endif %}
                </strong>
              </h6>
            </div>
            <!--Card content-->
          </div>
        <!--Card-->
      </div>
      <!--Grid column-->
    {% endfor %}
  </div>
</div>
{% endblock %}