{% extends 'base.html' %}
{% block Navbar1 %}
    {% include 'Base/Navbar1.html' %}
{% endblock %}
{% block Navbar2 %}
	{% include 'Explore/Explore_Navbar.html' %}
{% endblock %}
{% block content %}

<body class="bg-light">
<div class="container-fluid  mt-5">
	   <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">
                <!--Grid row-->
        <div class="row wow fadeIn">
          {% for item in shops %}



          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4  d-flex  align-items-stretch ">

            <!--Card-->
            <div class="card " >

              <!--Card image-->
              <div class="view overlay ">

                <img src="{{ item.shop_photo1.url }}" class="card-img-top " height="350" >
                <a href="{{item.get_abs_url}}">
                  <div class="mask rgba-white-slight"></div>
                </a>

              </div>

              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center  "  >
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5></h5> <!-- Getting the category and displaying it -->
                </a>
                <h5>
                  <strong>
                    <a href="{{item.get_abs_url}}" class="dark-grey-text">{{ item.shop_name }}  <!-- Here we have used reverse and passes the url of product -->
                      <span class="badge -color">NEW</span> <!-- Used for fetching data from label-->
                    </a>
                  </strong>
                </h5>

<!--                <h4 class="font-weight-bold blue-text">-->
<!--                  <strong>-->
<!--                    {% if item.discount_price %}-->
<!--                    ₹{{ item.discount_price }}-->
<!--                    {% else %}-->
<!--                    ₹{{ item.price }}-->
<!--                    {% endif %}-->
<!--                  </strong>-->
<!--                </h4>-->

              </div>
              <!--Card content-->

            </div>


                  <!--Card-->

                </div>
                <!--Grid column-->
          {% empty %}
            <h3>Nothing Found</h3>
          {% endfor %}
         </div>
        </div>
        <div class="col-1">

        </div>

     </div>

</div>
</body>
{% endblock %}
