
<nav class="navbar navbar-expand-lg navbar-light bg-white text-uppercase  ">

          <div class="container ">

              <div class="row pt-2">

                  <div class="col font-weight-bold ">

                      <a href="" class="text-dark  p-3" >States</a>
                      <a href="" class="text-dark  p-3">Popular-Districts</a>
                      <a href="" class="text-dark  p-3">Markets</a>
                      <a href="" class="text-dark  p-3">Malls</a>
                       <a href="" class="text-dark  p-3">Places</a>

                  </div>
              </div>

          </div>

    </nav>

  
