{% extends 'base.html' %}
{% load static %}
{% block Navbar1 %}
    {% include "Base/Navbar1.html" %}
{% endblock %}
{% block content %}
<style>
.card:hover{
    transform:scale(1.01);
}
</style>
<div class="container-fluid pl-0 pr-0 d-none d-md-block pb-5" style="margin-top:95px;overflow:hidden;">
  <!-- carousel main -->
            <div id="carouselExampleControls" class="carousel slide  w-100" data-ride="carousel">
              <div class="carousel-inner w-100">
                <div class="carousel-item active">
                    {% if profile.shop_photo1 %}
                        <img class="d-block" style="height:50vh;max-width:100%;min-width:100%;" src="{{profile.shop_photo1.url}}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">EDIT IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                    {% else %}
                        <img class="d-block" style="height:50vh;max-width:100%;min-width:100%;" src="{% static 'img/background_blank.jpg' %}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">ADD SHOP IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="carousel-item">
                   {% if profile.shop_photo2 %}
                        <img class="d-block" style="height:50vh;max-width:100%;min-width:100%;" src="{{profile.shop_photo2.url}}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">EDIT IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% else %}
                        <img class="d-block" style="height:50vh;max-width:100%;min-width:100%;" src="{% static 'img/background_blank.jpg' %}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">ADD SHOP IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% endif %}
              </div>
              <div class="carousel-item">
                   {% if profile.shop_photo3 %}
                        <img class="d-block" style="height:50vh;max-width:100%;min-width:100%;" src="{{profile.shop_photo3.url}}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">EDIT IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% else %}
                        <img class="d-block" style="height:50vh;max-width:100%;min-width:100%;" src="{% static 'img/background_blank.jpg' %}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">ADD SHOP IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% endif %}
              </div>
              <div class="carousel-item">
                   {% if profile.shop_photo4 %}
                        <img class="d-block" style="height:50vh;max-width:100%;min-width:100%;" src="{{profile.shop_photo4.url}}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;text-decoration:underline;">EDIT IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% else %}
                        <img class="d-block" style="height:50vh;max-width:100%;min-width:100%;" src="{% static 'img/background_blank.jpg' %}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">ADD SHOP IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% endif %}
              </div>
              <div class="carousel-item">
                   {% if profile.shop_photo5 %}
                        <img class="d-block" style="height:50vh;max-width:100%;min-width:100%;" src="{{profile.shop_photo5.url}}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">EDIT IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% else %}
                        <img class="d-block" style="height:50vh;max-width:100%;min-width:100%;" src="{% static 'img/background_blank.jpg' %}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">ADD SHOP IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% endif %}
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
<!-- carousel main -->
    </div>
    <div class="row mt-4 d-flex justify-content-center align-items-center" style="background-color:#9c6d27">
        <h3 style="color:white;font-weight:bold;font-family:'Times New Roman';font-size:40px;">{{profile.name}}</h3>
    </div>
    <div class="row mt-2 mb-2 pl-4">
        <h4 class="font-weight-normal" style="color:#7d670e;text-decoration:underline;">PRODUCTS</h4>
    </div>
    <div class="row mt-3 d-flex justify-content-start align-items-center pl-4 pr-2">
        {% for item in products %}
        <!--Products -->
            <!--Card-->
            <div class="card ml-2 mr-2 mt-2 " style="max-width:280px;min-width:280px;">
              <!--Card image-->
              <div class="view overlay ">
                <img src="{{ item.image_url }}" class="card-img-top " height="250" width="280" style="max-width:280px;min-width:280px;">
                <a href="{{item.get_abs_url}}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <a href="{{item.get_abs_url}}" class="dark-grey-text">
              <div class="card-body text-center">
                <h6 style="font-weight:bold;">{{item.Brand}}</h6>
                <h6 style="text-overflow:ellipsis;font-size:14px;overflow:hidden;white-space:nowrap;">
                    {{ item.Name }}  <!-- Here we have used reverse and passes the url of product -->
                       <!-- Used for fetching data from label-->
                </h6>
                <h6 class="font-weight-bold Filterhead pt-2 blue-text">
                    {% if item.discount_price %}
                    ₹{{ item.discount_price }}
                    {% else %}
                    ₹{{ item.price }}
                    {% endif %}
                </h6>
              </div>
              </a>
              <!--Card content-->
            </div>
          <!--Card-->
        {% endfor %}
    </div>
</div>
<!-- Small Screen -->
<div class="container-fluid pl-0 pr-0 d-block d-md-none" style="margin-top:95px;overflow:hidden;">
  <!-- carousel main -->
            <div id="carouselExampleControls_sm" class="carousel slide  w-100" data-ride="carousel">
              <div class="carousel-inner w-100">
                <div class="carousel-item active">
                    {% if profile.shop_photo1 %}
                        <img class="d-block" style="height:40vh;max-width:100%;min-width:100%;" src="{{profile.shop_photo1.url}}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">EDIT IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                    {% else %}
                        <img class="d-block" style="height:40vh;max-width:100%;min-width:100%;" src="{% static 'img/background_blank.jpg' %}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">ADD SHOP IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="carousel-item">
                   {% if profile.shop_photo2 %}
                        <img class="d-block" style="height:40vh;max-width:100%;min-width:100%;" src="{{profile.shop_photo2.url}}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">EDIT IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% else %}
                        <img class="d-block" style="height:40vh;max-width:100%;min-width:100%;" src="{% static 'img/background_blank.jpg' %}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">ADD SHOP IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% endif %}
              </div>
              <div class="carousel-item">
                   {% if profile.shop_photo3 %}
                        <img class="d-block" style="height:40vh;max-width:100%;min-width:100%;" src="{{profile.shop_photo3.url}}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">EDIT IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% else %}
                        <img class="d-block" style="height:40vh;max-width:100%;min-width:100%;" src="{% static 'img/background_blank.jpg' %}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">ADD SHOP IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% endif %}
              </div>
              <div class="carousel-item">
                   {% if profile.shop_photo4 %}
                        <img class="d-block" style="height:40vh;max-width:100%;min-width:100%;" src="{{profile.shop_photo4.url}}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;text-decoration:underline;">EDIT IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% else %}
                        <img class="d-block" style="height:40vh;max-width:100%;min-width:100%;" src="{% static 'img/background_blank.jpg' %}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">ADD SHOP IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% endif %}
              </div>
              <div class="carousel-item">
                   {% if profile.shop_photo5 %}
                        <img class="d-block" style="height:40vh;max-width:100%;min-width:100%;" src="{{profile.shop_photo5.url}}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">EDIT IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% else %}
                        <img class="d-block" style="height:40vh;max-width:100%;min-width:100%;" src="{% static 'img/background_blank.jpg' %}"  alt="First slide">
                        <div class="carousel-caption ">
                            {% if seller %}
                            <a href="{% url 'Seller:profile-edit' %}" style="color:white;"><h6 style="white-space:pre;">ADD SHOP IMAGE  <i class="fas fa-pen text-primary "></i></h6></a>
                            {% endif %}
                        </div>
                   {% endif %}
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls_sm" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls_sm" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
<!-- carousel main -->
    </div>
    <div class="row mt-2 d-flex justify-content-center align-items-center" style="background-color:#9c6d27">
        <h3 style="text-align: center;color:white;font-weight:bold;font-family:'Times New Roman';font-size:22px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:250px;">{{profile.name}}</h3>
    </div>
    <div class="row mt-2 mb-2 pl-4">
        <h5 class="font-weight-normal" style="color:#7d670e;text-decoration:underline;">PRODUCTS</h5>
    </div>
    <div class="row mt-3 d-flex justify-content-start align-items-center pl-4 pr-2">
        {% for item in products %}
        <!--Products -->
            <!--Card-->
            <div class="card ml-2 mr-2 mt-2 " style="max-width:135px;min-width:135px;">
              <!--Card image-->
              <div class="view overlay ">
                <img src="{{ item.image_url }}" class="card-img-top " height="135" width="135" style="max-width:135px;min-width:135px;">
                <a href="{{item.get_abs_url}}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <a href="{{item.get_abs_url}}" class="dark-grey-text">
              <div class="card-body text-center">
                <h6 style="font-weight:bold;">{{item.Brand}}</h6>
                <h6 style="text-overflow:ellipsis;font-size:14px;overflow:hidden;white-space:nowrap;">
                    {{ item.Name }}  <!-- Here we have used reverse and passes the url of product -->
                       <!-- Used for fetching data from label-->
                </h6>
                <h6 class="font-weight-bold Filterhead pt-2 blue-text">
                    {% if item.discount_price %}
                    ₹{{ item.discount_price }}
                    {% else %}
                    ₹{{ item.price }}
                    {% endif %}
                </h6>
              </div>
              </a>
              <!--Card content-->
            </div>
          <!--Card-->
        {% endfor %}
    </div>
</div>
<!-- Footer -->

<div class="container-fluid d-md-block d-none" style="margin-top:100px;background-color:#162691;">
  <div class="row pt-4 pb-5">
    <div class="col-md-3 col-12">
        <!-- Logo -->
          <img class="" src="{% static 'img/UnitedmartC.png' %}" height="85" width="150">
        <!-- Logo -->

          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Call us :- +91 9658901234</p>
          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Mail us :- unitedmart@gmail.com</p>
          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Registered Office Address : 123 Shantipuram Building ,</p>
          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Third Floor , New Delhi (226002)</p>

        <!-- Social Sites -->
          <a class="ml-1"><img src="{% static 'img/facebook-logo.svg' %}"></a>
          <a class="ml-1"><img src="{% static 'img/youtube-logo.svg' %}"></a>
          <a class="ml-1"><img src="{% static 'img/twitter-logo.svg' %}"></a>
          <a class="ml-1"><img src="{% static 'img/linkedin-logo.svg' %}"></a>
        <!-- Social Sites -->
    </div>
    <div class="col-md-3 col-12">
      <h5 class="text-white font-weight-bold">About</h5>
      <h6 style="color:#c0c3cf">Contact Us</h6>
      <h6 style="color:#c0c3cf">Careers</h6>
      <h6 style="color:#c0c3cf">About Us</h6>
    </div>
    <div class="col-md-3 col-12">
      <h5 class="text-white font-weight-bold">Help</h5>
      <h6 style="color:#c0c3cf">Payments</h6>
      <h6 style="color:#c0c3cf">Shipping</h6>
      <h6 style="color:#c0c3cf">Cancellation & Returns</h6>
      <h6 style="color:#c0c3cf">FAQ</h6>
      <h6 style="color:#c0c3cf">Report Infringement</h6>
    </div>
    <div class="col-md-3 col-12">
      <h5 class="text-white font-weight-bold">Policy</h5>
      <h6 style="color:#c0c3cf">Return Policy</h6>
      <h6 style="color:#c0c3cf">Terms of Use</h6>
      <h6 style="color:#c0c3cf">Security</h6>
      <h6 style="color:#c0c3cf">Privacy</h6>
      <h6 style="color:#c0c3cf">Terms of Service</h6>
    </div>



  </div>
</div>

<div class="container-fluid d-md-none d-block" style="margin-top:100px;background-color:#162691;">
  <div class="row pt-4 pb-5">
    <div class="col-6">
        <!-- Logo -->
          <img class="" src="{% static 'img/UnitedmartC.png' %}" height="85" width="150">
        <!-- Logo -->

          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Call us :- +91 9658901234</p>
          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Mail us :- unitedmart@gmail.com</p>
          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Registered Office Address : 123 Shantipuram Building ,</p>
          <p style="color:#c0c3cf;font-size:14px;" class="pl-2">Third Floor , New Delhi (226002)</p>

        <!-- Social Sites -->
          <a class="ml-1"><img src="{% static 'img/facebook-logo.svg' %}"></a>
          <a class="ml-1"><img src="{% static 'img/youtube-logo.svg' %}"></a>
          <a class="ml-1"><img src="{% static 'img/twitter-logo.svg' %}"></a>
          <a class="ml-1"><img src="{% static 'img/linkedin-logo.svg' %}"></a>
        <!-- Social Sites -->
    </div>
    <div class="col-6 mt-4">
      <h5 class="text-white font-weight-bold">About</h5>
      <h6 style="color:#c0c3cf">Contact Us</h6>
      <h6 style="color:#c0c3cf">Careers</h6>
      <h6 style="color:#c0c3cf">About Us</h6>
    </div>
    <div class="col-6 mt-4">
      <h5 class="text-white font-weight-bold">Help</h5>
      <h6 style="color:#c0c3cf">Payments</h6>
      <h6 style="color:#c0c3cf">Shipping</h6>
      <h6 style="color:#c0c3cf">Cancellation & Returns</h6>
      <h6 style="color:#c0c3cf">FAQ</h6>
      <h6 style="color:#c0c3cf">Report Infringement</h6>
    </div>
    <div class="col-6">
      <h5 class="text-white font-weight-bold">Policy</h5>
      <h6 style="color:#c0c3cf">Return Policy</h6>
      <h6 style="color:#c0c3cf">Terms of Use</h6>
      <h6 style="color:#c0c3cf">Security</h6>
      <h6 style="color:#c0c3cf">Privacy</h6>
      <h6 style="color:#c0c3cf">Terms of Service</h6>
    </div>



  </div>
</div>
{% endblock %}